<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyWebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FA4200C1D471A9700DA40D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FA420201D471A9800DA40D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FA4202B1D471A9800DA40D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
